<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stackstech.honeybee.server.platform.dao.ServiceDriverMapper">

    <sql id="Base_Column_List">
        id as id,driver_name as driverName,version as version,driver_desc as driverDesc,driver_path as
        driverPath,driver_class as driverClass,
        status_code as statusCode,create_time as createTime,create_by as createBy,update_time as updateTime,update_by as
        updateBy
    </sql>

    <!--获取驱动列表-->
    <select id="queryAll" parameterType="com.stackstech.honeybee.server.platform.model.ServiceDriver"
            resultType="com.stackstech.honeybee.server.platform.model.ServiceDriver">
        select
        <include refid="Base_Column_List"/>
        from dgp_service_driver
        <where>
            status_code != 'deleted '
            <if test="driverName != null and driverName != ''">
                and driver_name like CONCAT('%',#{driverName,jdbcType=VARCHAR},'%')
            </if>
            <if test="version != null and version != ''">
                and version = #{version,jdbcType=VARCHAR}
            </if>
            <if test="statusCode != null and statusCode != ''">
                and status_code = #{statusCode,jdbcType=VARCHAR}
            </if>
        </where>
        order by update_time desc
    </select>

    <!--根据名称获取驱动-->
    <select id="queryByName" parameterType="java.lang.String"
            resultType="com.stackstech.honeybee.server.platform.model.ServiceDriver">
        select
        <include refid="Base_Column_List"/>
        FROM dgp_service_driver
        <where>
            status_code != 'deleted '
            <if test="driverName != null and driverName != ''">
                and driver_name = #{driverName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--根据名称获取驱动-->
    <select id="queryByPrimaryKey" parameterType="java.lang.String"
            resultType="com.stackstech.honeybee.server.platform.model.ServiceDriver">
        select
        <include refid="Base_Column_List"/>
        FROM dgp_service_driver
        where status_code != 'deleted ' and id = #{id,jdbcType=VARCHAR}
    </select>


    <select id="countAll" resultType="java.lang.Integer"
            parameterType="com.stackstech.honeybee.server.platform.model.ServiceDriver">
        select count(*) from dgp_service_driver
        <where>
            status_code != 'deleted '
            <if test="driverName != null and driverName != ''">
                and driver_name like CONCAT('%',#{driverName,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>

    <!--获取驱动主键-->
    <select id="queryPrimaryKey" resultType="java.lang.String">
        select seq_nextval('dgp_service_driver')
    </select>

    <!--新增数据驱动-->
    <insert id="insert" parameterType="com.stackstech.honeybee.server.platform.model.ServiceDriver">
        insert into dgp_service_driver
        (id,
        driver_name,
        version,
        driver_desc,
        driver_path,
        driver_class,
        status_code,
        create_time,
        create_by,
        update_time,
        update_by)
        VALUES
        (#{id,jdbcType=VARCHAR},
        #{driverName,jdbcType=VARCHAR},
        #{version,jdbcType=VARCHAR},
        #{driverDesc,jdbcType=VARCHAR},
        #{driverPath,jdbcType=VARCHAR},
        #{driverClass,jdbcType=VARCHAR},
        #{statusCode,jdbcType=VARCHAR},
        SYSDATE(),
        #{createBy,jdbcType=BIGINT},
        SYSDATE(),
        #{updateBy,jdbcType=BIGINT})
    </insert>

    <!--更新数据驱动-->
    <update id="update" parameterType="com.stackstech.honeybee.server.platform.model.ServiceDriver">
        update dgp_service_driver
        <set>
            <if test="driverName != null and driverName != ''">
                driver_name = #{driverName,jdbcType=VARCHAR},
            </if>
            <if test="version != null and version != ''">
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="driverDesc != null and driverDesc != ''">
                driver_desc = #{driverDesc,jdbcType=VARCHAR},
            </if>
            <if test="driverPath != null and driverPath !=''">
                driver_path = #{driverPath,jdbcType=VARCHAR},
            </if>
            <if test="driverClass != null and driverClass != ''">
                driver_class = #{driverClass,jdbcType=VARCHAR},
            </if>
            <if test="statusCode != null and statusCode != ''">
                status_code = #{statusCode,jdbcType=VARCHAR},
            </if>
            update_time = SYSDATE(),
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--删除数据驱动-->
    <delete id="delete" parameterType="java.util.List">
        update dgp_service_driver
        set status_code = 'deleted '
        where id in
        <foreach collection="list" index="index" item="tag" open="(" separator="," close=")">
            #{tag,jdbcType=VARCHAR}
        </foreach>
    </delete>


    <!--全局搜索-->
    <select id="queryByCondition" resultType="com.stackstech.honeybee.server.platform.model.ServiceDriver"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from dgp_service_driver
        <where>
            status_code != 'deleted '
            <if test="queryString != null and queryString != ''">
                and driver_name like CONCAT('%',#{queryString,jdbcType=VARCHAR},'%')
            </if>
        </where>
        order by update_time desc
    </select>

    <!--根据条件查询所有数据服务APi访问日志信息-->
    <select id="countByCondition" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        count(1)
        from dgp_service_driver
        <where>
            status_code != 'deleted '
            <if test="queryString != null and queryString != ''">
                and driver_name like CONCAT('%',#{queryString,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>

</mapper>
