<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stackstech.honeybee.server.dataservice.dao.AppDsFieldMapper">

    <resultMap id="BaseResultMap" type="com.stackstech.honeybee.server.dataservice.model.AppDsField">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="dataservice_id" property="dataServiceId" jdbcType="VARCHAR"/>
        <result column="field_id" property="fieldId" jdbcType="VARCHAR"/>
        <result column="field_name" property="fieldName" jdbcType="VARCHAR"/>
        <result column="seq_num" property="seqNum" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="insert" parameterType="com.stackstech.honeybee.server.dataservice.model.AppDsField">
        INSERT INTO dgp_app_ds_field
        (app_id,
        dataservice_id,
        field_id,
        field_name,
        seq_num,
        create_by,
        create_time)
        VALUES
        (#{appId,jdbcType=VARCHAR},
        #{dataServiceId,jdbcType=VARCHAR},
        #{fieldId,jdbcType=VARCHAR},
        #{fieldName,jdbcType=VARCHAR},
        #{seqNum,jdbcType=INTEGER},
        #{createBy,jdbcType=BIGINT},
        SYSDATE())
    </insert>

    <!--根据id编号删除数据服务APP授权字段信息-->
    <delete id="delete" parameterType="java.lang.Long">
        delete from dgp_app_ds_field
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByServiceIdAndAppId" parameterType="java.lang.String">
        delete from dgp_app_ds_field
        where dataservice_id = #{dataServiceId,jdbcType=VARCHAR}
        and app_id = #{appId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByServiceId" parameterType="java.lang.String">
        delete from dgp_app_ds_field
        where dataservice_id = #{dataServiceId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByAppId" parameterType="java.lang.String">
        delete from dgp_app_ds_field
        where app_id = #{appId,jdbcType=VARCHAR}
    </delete>

    <!--编辑APP授权字段字段-->
    <update id="update" parameterType="com.stackstech.honeybee.server.dataservice.model.AppDsField">
        update dgp_app_ds_field
        <set>
            <if test="appId != null and appId != ''">
                app_id = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="dataServiceId != null and dataServiceId != ''">
                dataservice_id = #{dataServiceId,jdbcType=VARCHAR},
            </if>
            <if test="fieldId != null and fieldId != ''">
                field_id = #{fieldId,jdbcType=VARCHAR},
            </if>
            <if test="fieldName != null and fieldName != ''">
                field_name = #{fieldName,jdbcType=VARCHAR},
            </if>
            <if test="seqNum != null ">
                seq_num = #{seqNum,jdbcType=INTEGER},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            update_time = SYSDATE()
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--根据条件查询所有数据服务APP授权字段信息-->
    <select id="queryAll" resultMap="BaseResultMap"
            parameterType="com.stackstech.honeybee.server.dataservice.model.AppDsField">
        select * from dgp_app_ds_field t
        <where>
            <if test="appId != null and appId != ''">
                app_id = #{appId,jdbcType=VARCHAR}
            </if>
            <if test="dataServiceId != null and dataServiceId != ''">
                and dataservice_id = #{dataServiceId,jdbcType=VARCHAR}
            </if>
            <if test="fieldId != null and fieldId !=''">
                and field_id = #{fieldId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--根据id查询所有数据服务APP授权字段信息-->
    <select id="queryByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select * from dgp_app_ds_field t
        where t.id = #{id,jdbcType=BIGINT}
    </select>

    <!--根据id查询所有数据服务APP授权字段信息-->
    <select id="queryByServiceIdAndAppId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from dgp_app_ds_field t
        where
        t.app_id = #{appId,jdbcType=VARCHAR}
        and t.dataservice_id = #{dataServiceId,jdbcType=VARCHAR}
    </select>

    <!--根据serviceId查询所有数据服务APP授权信息-->
    <select id="queryByServiceId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from dgp_app_ds_field t
        where t.dataservice_id = #{dataServiceId,jdbcType=VARCHAR}
    </select>

    <!--根据appid查询所有数据服务APP授权信息-->
    <select id="queryByAppId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from dgp_app_ds_field t
        where t.app_id = #{appId,jdbcType=VARCHAR}
    </select>
</mapper>