<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stackstech.dcp.server.dataasset.dao.ServiceModelFieldMapper">

    <resultMap id="BaseResultMap" type="com.stackstech.dcp.server.dataasset.model.ServiceModelField">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="service_model_id" property="serviceModelId" jdbcType="VARCHAR"/>
        <result column="seq_num" property="seqNum" jdbcType="INTEGER"/>
        <result column="field_name" property="fieldName" jdbcType="VARCHAR"/>
        <result column="data_type" property="dataType" jdbcType="VARCHAR"/>
        <result column="expression" property="expression" jdbcType="VARCHAR"/>
        <result column="field_desc" property="fieldDesc" jdbcType="VARCHAR"/>
        <result column="is_derived" property="isDerived" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="insert" parameterType="com.stackstech.dcp.server.dataasset.model.ServiceModelField">
        INSERT INTO dcp_service_model_field
        (service_model_id,
        field_name,
        data_type,
        seq_num,
        expression,
        field_desc,
        is_derived,
        create_time,
        create_by)
        VALUES
        (#{serviceModelId,jdbcType=VARCHAR},
        #{fieldName,jdbcType=VARCHAR},
        #{dataType,jdbcType=VARCHAR},
        #{seqNum,jdbcType=INTEGER},
        #{expression,jdbcType=VARCHAR},
        #{fieldDesc,jdbcType=VARCHAR},
        #{isDerived,jdbcType=VARCHAR},
        SYSDATE(),
        #{createBy,jdbcType=BIGINT})
    </insert>

    <!--根据id编号删除数据模型字段信息-->
    <delete id="delete" parameterType="java.lang.Long">
        delete from dcp_service_model_field
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <!--根据模型id删除-->
    <delete id="deleteByServiceId" parameterType="java.lang.String">
        delete from dcp_service_model_field
        where service_model_id = #{serviceModelId,jdbcType=VARCHAR}
    </delete>

    <!--编辑模型字段-->
    <update id="update" parameterType="com.stackstech.dcp.server.dataasset.model.ServiceModelField">
        update dcp_service_model_field
        <set>
            <if test="id != null ">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="serviceModelId != null and serviceModelId != ''">
                service_model_id = #{serviceModelId,jdbcType=VARCHAR},
            </if>
            <if test="fieldName != null and fieldName != ''">
                field_name = #{fieldName,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null and dataType != ''">
                data_type = #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="expression != null and expression != ''">
                expression = #{expression,jdbcType=VARCHAR},
            </if>
            <if test="seqNum != null ">
                seq_num = #{seqNum,jdbcType=INTEGER},
            </if>
            <if test="fieldDesc != null and fieldDesc != ''">
                field_desc = #{fieldDesc,jdbcType=VARCHAR},
            </if>
            <if test="isDerived != null and isDerived != ''">
                is_derived = #{isDerived,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            update_time = SYSDATE(),
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--根据id查询所有数据模型字段信息-->
    <select id="queryByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select * from dcp_service_model_field t
        where t.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="queryByServiceId" parameterType="java.lang.String"
            resultType="com.stackstech.dcp.server.dataasset.model.ServiceModelField">
        select *
        from dcp_service_model_field
        <where>
            <if test="serviceModelId != null and serviceModelId != ''">
                and service_model_id = #{serviceModelId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap"
            parameterType="com.stackstech.dcp.server.dataasset.model.ServiceModelField">
        select *
        from dcp_service_model_field
        <where>
            <if test="serviceModelId != null and serviceModelId != ''">
                and service_model_id = #{serviceModelId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>