<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stackstech.honeybee.server.core.mapper.AssetsModelEntityMapper">
  <resultMap id="BaseResultMap" type="com.stackstech.honeybee.server.core.entity.AssetsModelEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="assets_model_name" jdbcType="VARCHAR" property="assetsModelName" />
    <result column="assets_model_code" jdbcType="VARCHAR" property="assetsModelCode" />
    <result column="assets_catalog_domain" jdbcType="BIGINT" property="assetsCatalogDomain" />
    <result column="assets_catalog_topic" jdbcType="BIGINT" property="assetsCatalogTopic" />
    <result column="datasource_id" jdbcType="BIGINT" property="datasourceId" />
    <result column="datasource_meta" jdbcType="VARCHAR" property="datasourceMeta" />
    <result column="expression" jdbcType="VARCHAR" property="expression" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="owner" jdbcType="BIGINT" property="owner" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, assets_model_name, assets_model_code, assets_catalog_domain, assets_catalog_topic, 
    datasource_id, datasource_meta, expression, status, owner, updatetime, createtime, 
    desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hb_assets_model
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hb_assets_model
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.stackstech.honeybee.server.core.entity.AssetsModelEntity">
    insert into hb_assets_model (id, assets_model_name, assets_model_code, 
      assets_catalog_domain, assets_catalog_topic, 
      datasource_id, datasource_meta, expression, 
      status, owner, updatetime, 
      createtime, desc)
    values (#{id,jdbcType=BIGINT}, #{assetsModelName,jdbcType=VARCHAR}, #{assetsModelCode,jdbcType=VARCHAR}, 
      #{assetsCatalogDomain,jdbcType=BIGINT}, #{assetsCatalogTopic,jdbcType=BIGINT}, 
      #{datasourceId,jdbcType=BIGINT}, #{datasourceMeta,jdbcType=VARCHAR}, #{expression,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{owner,jdbcType=BIGINT}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stackstech.honeybee.server.core.entity.AssetsModelEntity">
    insert into hb_assets_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="assetsModelName != null">
        assets_model_name,
      </if>
      <if test="assetsModelCode != null">
        assets_model_code,
      </if>
      <if test="assetsCatalogDomain != null">
        assets_catalog_domain,
      </if>
      <if test="assetsCatalogTopic != null">
        assets_catalog_topic,
      </if>
      <if test="datasourceId != null">
        datasource_id,
      </if>
      <if test="datasourceMeta != null">
        datasource_meta,
      </if>
      <if test="expression != null">
        expression,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="desc != null">
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="assetsModelName != null">
        #{assetsModelName,jdbcType=VARCHAR},
      </if>
      <if test="assetsModelCode != null">
        #{assetsModelCode,jdbcType=VARCHAR},
      </if>
      <if test="assetsCatalogDomain != null">
        #{assetsCatalogDomain,jdbcType=BIGINT},
      </if>
      <if test="assetsCatalogTopic != null">
        #{assetsCatalogTopic,jdbcType=BIGINT},
      </if>
      <if test="datasourceId != null">
        #{datasourceId,jdbcType=BIGINT},
      </if>
      <if test="datasourceMeta != null">
        #{datasourceMeta,jdbcType=VARCHAR},
      </if>
      <if test="expression != null">
        #{expression,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stackstech.honeybee.server.core.entity.AssetsModelEntity">
    update hb_assets_model
    <set>
      <if test="assetsModelName != null">
        assets_model_name = #{assetsModelName,jdbcType=VARCHAR},
      </if>
      <if test="assetsModelCode != null">
        assets_model_code = #{assetsModelCode,jdbcType=VARCHAR},
      </if>
      <if test="assetsCatalogDomain != null">
        assets_catalog_domain = #{assetsCatalogDomain,jdbcType=BIGINT},
      </if>
      <if test="assetsCatalogTopic != null">
        assets_catalog_topic = #{assetsCatalogTopic,jdbcType=BIGINT},
      </if>
      <if test="datasourceId != null">
        datasource_id = #{datasourceId,jdbcType=BIGINT},
      </if>
      <if test="datasourceMeta != null">
        datasource_meta = #{datasourceMeta,jdbcType=VARCHAR},
      </if>
      <if test="expression != null">
        expression = #{expression,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        owner = #{owner,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stackstech.honeybee.server.core.entity.AssetsModelEntity">
    update hb_assets_model
    set assets_model_name = #{assetsModelName,jdbcType=VARCHAR},
      assets_model_code = #{assetsModelCode,jdbcType=VARCHAR},
      assets_catalog_domain = #{assetsCatalogDomain,jdbcType=BIGINT},
      assets_catalog_topic = #{assetsCatalogTopic,jdbcType=BIGINT},
      datasource_id = #{datasourceId,jdbcType=BIGINT},
      datasource_meta = #{datasourceMeta,jdbcType=VARCHAR},
      expression = #{expression,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      owner = #{owner,jdbcType=BIGINT},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      desc = #{desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>