<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stackstech.honeybee.server.dataservice.dao.AccessLogMapper">

    <resultMap id="BaseResultMap" type="com.stackstech.honeybee.server.dataservice.model.AccessLog">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="dataservice_id" property="dataServiceId" jdbcType="VARCHAR"/>
        <result column="request_params" property="requestParams" jdbcType="VARCHAR"/>
        <result column="access_start_time" property="accessStartTime" jdbcType="TIMESTAMP"/>
        <result column="access_end_time" property="accessEndTime" jdbcType="TIMESTAMP"/>
        <result column="db_start_time" property="dbStartTime" jdbcType="TIMESTAMP"/>
        <result column="db_end_time" property="dbEndTime" jdbcType="TIMESTAMP"/>
        <result column="instance_host" property="instanceHost" jdbcType="VARCHAR"/>
        <result column="instance_port" property="instancePort" jdbcType="INTEGER"/>
        <result column="client_host" property="clientHost" jdbcType="VARCHAR"/>
        <result column="return_code" property="returnCode" jdbcType="VARCHAR"/>
        <result column="message" property="message" jdbcType="VARCHAR"/>
        <result column="return_row" property="returnRow" jdbcType="INTEGER"/>
        <result column="return_size" property="returnSize" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="access_times" property="accessTimes" jdbcType="INTEGER"/>
        <result column="exec_times" property="execTimes" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.stackstech.honeybee.server.dataservice.model.AccessLog">
        INSERT INTO dgp_access_log
        (app_id,
        dataservice_id,
        request_params,
        access_start_time,
        access_end_time,
        db_start_time,
        db_end_time,
        instance_host,
        instance_port,
        client_host,
        return_code,
        message,
        return_row,
        return_size,
        create_time,
        create_by,
        access_times,
        exec_times)
        VALUES
        (#{appId,jdbcType=VARCHAR},
        #{dataServiceId,jdbcType=VARCHAR},
        #{requestParams,jdbcType=VARCHAR},
        #{accessStartTime,jdbcType=TIMESTAMP},
        #{accessEndTime,jdbcType=TIMESTAMP},
        #{dbStartTime,jdbcType=TIMESTAMP},
        #{dbEndTime,jdbcType=TIMESTAMP},
        #{instanceHost,jdbcType=VARCHAR},
        #{instancePort,jdbcType=INTEGER},
        #{clientHost,jdbcType=VARCHAR},
        #{returnCode,jdbcType=VARCHAR},
        #{message,jdbcType=VARCHAR},
        #{returnRow,jdbcType=INTEGER},
        #{returnSize,jdbcType=INTEGER},
        SYSDATE(),
        #{createBy,jdbcType=BIGINT},
        #{accessTimes,jdbcType=INTEGER},
        #{execTimes,jdbcType=INTEGER})
    </insert>

    <!--根据id编号删除数据服务API访问日志-->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from dgp_access_log
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--编辑APP用户字段-->
    <update id="update" parameterType="com.stackstech.honeybee.server.dataservice.model.AccessLog">
        update dgp_access_log
        <set>
            <if test="appId != null and appId != ''">
                app_id = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="dataServiceId != null and dataServiceId != ''">
                dataservice_id = #{dataServiceId,jdbcType=VARCHAR},
            </if>
            <if test="requestParams != null and requestParams != ''">
                request_params = #{requestParams,jdbcType=VARCHAR},
            </if>
            <if test="accessStartTime != null ">
                access_start_time = #{accessStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="accessEndTime != null ">
                access_end_time = #{accessEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dbStartTime != null ">
                db_start_time = #{dbStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dbEndTime != null ">
                db_end_time = #{dbEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="instanceHost != null and instanceHost != ''">
                instance_host = #{instanceHost,jdbcType=VARCHAR},
            </if>
            <if test="instancePort != null ">
                instance_port = #{instancePort,jdbcType=INTEGER},
            </if>
            <if test="clientHost != null and clientHost != ''">
                client_host = #{clientHost,jdbcType=VARCHAR},
            </if>
            <if test="returnCode != null and returnCode != ''">
                return_code = #{returnCode,jdbcType=VARCHAR},
            </if>
            <if test="message != null and message != ''">
                message = #{message,jdbcType=VARCHAR},
            </if>
            <if test="returnRow != null ">
                return_row = #{returnRow,jdbcType=INTEGER},
            </if>
            <if test="returnSize != null ">
                return_size = #{returnSize,jdbcType=INTEGER},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="accessTimes != null">
                access_times = #{accessTimes,jdbcType=INTEGER},
            </if>
            <if test="execTimes != null">
                exec_times = #{execTimes,jdbcType=INTEGER},
            </if>
            update_time = SYSDATE()
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--根据id查询所有数据服务API访问日志-->
    <select id="queryByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select * from dgp_access_log t
        where t.id = #{id}
    </select>

    <!--根据条件查询所有数据服务APi访问日志信息-->
    <select id="queryAll" resultMap="BaseResultMap" parameterType="java.util.Map">
        select a.*
        from dgp_access_log a
        <where>
            <if test="appId != null and appId != ''">
                and a.app_id = #{appId,jdbcType=VARCHAR}
            </if>
            <if test="dataServiceId != null and dataServiceId != ''">
                and a.dataservice_id = #{dataServiceId,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null and startTime != ''">
                and a.create_time &gt;= #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null and endTime != ''">
                and a.create_time &lt;= #{endTime,jdbcType=VARCHAR}
            </if>
            <if test="accessTimes != null">
                and a.access_times >= #{accessTimes,jdbcType=INTEGER}
            </if>
            <if test="execTimes != null">
                and a.exec_times >= #{execTimes,jdbcType=INTEGER}
            </if>
            <if test="message != null">
                and a.message like concat('%',#{message,jdbcType=VARCHAR},'%')
            </if>
        </where>
        order by a.create_time desc
    </select>

    <!--根据条件查询所有数据服务APi访问日志信息-->
    <select id="countAll" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1)
        from dgp_access_log a
        <where>
            <if test="appId != null and appId != ''">
                and a.app_id = #{appId,jdbcType=VARCHAR}
            </if>
            <if test="dataServiceId != null and dataServiceId != ''">
                and a.dataservice_id = #{dataServiceId,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null and startTime != ''">
                and a.create_time &gt;= #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null and endTime != ''">
                and a.create_time &lt;= #{endTime,jdbcType=VARCHAR}
            </if>
            <if test="accessTimes != null">
                and a.access_times >= #{accessTimes,jdbcType=INTEGER}
            </if>
            <if test="execTimes != null">
                and a.exec_times >= #{execTimes,jdbcType=INTEGER}
            </if>
            <if test="message != null">
                and a.message like concat('%',#{message,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>

    <!--获取服务日志-->
    <select id="query" resultMap="BaseResultMap" parameterType="java.util.Map">
        select a.*
        from dgp_access_log a
        where a.id = #{id}
    </select>

    <!--获取服务访问数量排名-->
    <select id="queryServiceCount" resultType="java.util.Map" parameterType="java.util.Map">
        select b.data_service_name as serviceName,count(1) as serviceCount
        from dgp_access_log a
        left join dgp_data_service b on a.dataservice_id = b.id
        <where>
            <if test="startTime != null and startTime != ''">
                and a.create_time &gt;= #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null and endTime != ''">
                and a.create_time &lt;= #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY a.dataservice_id
        order by count(1) desc
    </select>

    <!--获取app访问数量排名-->
    <select id="queryAppCount" resultType="java.util.Map" parameterType="java.util.Map">
        select b.name as appName,count(1) as appCount
        from dgp_access_log a
        left join dgp_app b on a.app_id = b.id
        <where>
            <if test="startTime != null and startTime != ''">
                and a.create_time &gt;= #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null and endTime != ''">
                and a.create_time &lt;= #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY a.app_id
        order by count(1) desc
    </select>

    <!--服务访问时长排名-->
    <select id="queryServiceTime" resultType="java.util.Map" parameterType="java.util.Map">
        select
        b.data_service_name as serviceName,
        sum(a.access_end_time - a.access_start_time) as serviceTime
        from dgp_access_log a
        left join dgp_data_service b on a.dataservice_id = b.id
        <where>
            <if test="startTime != null and startTime != ''">
                and a.create_time &gt;= #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null and endTime != ''">
                and a.create_time &lt;= #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY a.dataservice_id
        order by sum(a.access_end_time - a.access_start_time) desc
    </select>

    <!--DB访问时长排名-->
    <select id="queryDBTime" resultType="java.util.Map" parameterType="java.util.Map">
        select
        b.name as appName,
        sum(a.db_end_time - a.db_start_time) as appTime
        from dgp_access_log a
        left join dgp_app b on a.app_id = b.id
        <where>
            <if test="startTime != null and startTime != ''">
                and a.create_time &gt;= #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null and endTime != ''">
                and a.create_time &lt;= #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY a.app_id
        order by sum(a.db_end_time - a.db_start_time) desc
    </select>


    <!--服务平均访问时长排名-->
    <select id="queryAvgService" resultType="java.util.Map" parameterType="java.util.Map">
        select
        b.data_service_name as serviceName,
        sum(a.access_end_time - a.access_start_time) / count(1) as serviceAvg
        from dgp_access_log a
        left join dgp_data_service b on a.dataservice_id = b.id
        <where>
            <if test="startTime != null and startTime != ''">
                and a.create_time &gt;= #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null and endTime != ''">
                and a.create_time &lt;= #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY a.dataservice_id
        order by sum(a.access_end_time - a.access_start_time) / count(1) desc
    </select>

    <!--DB平均访问时长排名-->
    <select id="queryAvgDB" resultType="java.util.Map" parameterType="java.util.Map">
        select
        b.name as appName,
        sum(a.db_end_time - a.db_start_time) / count(1) as appAvg
        from dgp_access_log a
        left join dgp_app b on a.app_id = b.id
        <where>
            <if test="startTime != null and startTime != ''">
                and a.create_time &gt;= #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null and endTime != ''">
                and a.create_time &lt;= #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY a.app_id
        order by sum(a.db_end_time - a.db_start_time) / count(1) desc
    </select>

    <!--全局搜索-->
    <select id="queryByCondition" resultMap="BaseResultMap" parameterType="java.lang.String">
        select a.*
        from dgp_access_log a
        left join dgp_data_service b on a.dataservice_id = b.id
        left join dgp_app c on a.app_id = c.id
        <where>
            <if test="queryString != null and queryString != ''">
                and CONCAT(b.data_service_name,c.name,a.app_id,a.dataservice_id)
                like CONCAT('%',#{queryString,jdbcType=VARCHAR},'%')
            </if>
        </where>
        order by a.create_time desc
    </select>

    <!--根据条件查询所有数据服务APi访问日志信息-->
    <select id="countByCondition" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1)
        from dgp_access_log a
        left join dgp_data_service b on a.dataservice_id = b.id
        left join dgp_app c on a.app_id = c.id
        <where>
            <if test="queryString != null and queryString != ''">
                and CONCAT(b.data_service_name,c.name,a.app_id,a.dataservice_id)
                like CONCAT('%',#{queryString,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>


</mapper>