#app {
  // 主体区域
  .main-container {
    background-color: #f1f1f1;
    position: relative;
    min-height: 100%;
    transition: margin-left .5s;
    margin-left: 230px;
  }
  // 侧边栏
  .sidebar-container {
    // transition: width .9s;
    width: 230px !important;
    //background: url('../assets/tdspic/treeBg.jpg') no-repeat;
    background-color: #444579;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    transition: width .5s;
    a {
      display: inline-block;
      width: 100%;
    }
    .svg-icon-wrap{
      width: 30px;
      margin-right: 10px;
      display: flex;
      float: left;
      height: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .sub-menu-line{
        display:inline-block;
        height:30px;
        border-left:1px solid #FFF;
        position:absolute;
        bottom:25px;
      }
      .svg-icon {
        font-size: 18px;
      }
    }

    .el-menu {
      border: none;
      width: 100%;
    }
  }
  .hideSidebar {
    .sidebar-container,.sidebar-container .el-menu {
      // transition: width .9s;
      width: 60px !important;
      overflow: unset;
      .el-tooltip{
        padding: 0px 10px!important;
      }
    }
    .main-container {
      // transition: margin-left .9s;
      margin-left: 60px;
    }
  }
  .hideSidebar {
    .submenu-title-noDropdown {
      padding-left: 10px!important;
      position: relative;
      .menu-tooltip{
        position: absolute;
        width: auto;
        height: auto;
        background: #444579;
        color: white;
        z-index: 2085;
        padding: 0 15px;
        overflow: unset;
        transition: all 0.3s;
        &:hover{
          color: #4562fc;
        }
        .svg-icon{
          position: absolute;
          visibility:hidden;
          left: -16px;
          top: 6.5px;
          height: 25px;
          width: 25px;
        }
      }
      span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
        opacity: 0;
        display: inline-block;
        font-size: 12px;
        left: 70px;
        border-radius: 2px;
      }
      &:hover {
        .menu-tooltip{
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .el-submenu {
      &>.el-submenu__title {
        height: 40px;
        line-height: 40px;
        padding-left: 10px!important;
        i{
          color: white!important;
          display: none;
        }
        &:hover{
          background-color: rgba(0, 0, 0, 0.2) !important;
        }
        &>span {
          display: none;
        }
        .el-submenu__icon-arrow {
          color: white!important;
          display: none;
        }
      }
      .nest-menu {
        .el-submenu__icon-arrow {
          color: white!important;
          display: block!important;
        }
        span {
          display: inline-block!important;
        }
      }
    }
  }
  .nest-menu .el-submenu>.el-submenu__title,
  .el-submenu .el-menu-item {
    height: 40px;
    line-height: 40px;
    padding: 0 20px !important;
    min-width: 210px!important;
    background-color: transparent !important;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu{
    min-width: 210px!important;
  }
}
.el-menu--vertical{
  .el-menu--popup{
    background: #444579!important;
    padding: 0;
    .el-menu-item{
      height: 40px;
      line-height: 40px;
      &>span{
        font-size: 12px;
      }
      &:hover{
        color: #4562fc!important;
        background: rgba(0,0,0,.2)!important;
      }
    }
  }
  .svg-icon-wrap{
    display: inline-block;
  }
}
