<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stackstech.honeybee.server.assets.dao.AssetsCatalogMapper">
  <resultMap id="BaseResultMap" type="com.stackstech.honeybee.server.assets.entity.AssetsCatalogEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="isroot" jdbcType="INTEGER" property="isroot" />
    <result column="catalog_name" jdbcType="VARCHAR" property="catalogName" />
    <result column="catalog_code" jdbcType="VARCHAR" property="catalogCode" />
    <result column="catalog_parent_id" jdbcType="BIGINT" property="catalogParentId" />
    <result column="catalog_type" jdbcType="VARCHAR" property="catalogType" />
    <result column="catalog_order" jdbcType="INTEGER" property="catalogOrder" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="owner" jdbcType="BIGINT" property="owner" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `isroot`, `catalog_name`, `catalog_code`, `catalog_parent_id`, `catalog_type`, 
    `catalog_order`, `status`, `owner`, `updatetime`, `createtime`, `desc`
  </sql>

  <select id="selectByParameter" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from hb_assets_catalog where `status` != -1
    <if test="keywords != null">
      and (`catalog_name` like #{keywords} or `catalog_code` like #{keywords} or `desc` like #{keywords})
    </if>
    <if test="catalogParentId != null">
      and `catalog_parent_id` = #{catalogParentId}
    </if>
    <if test="catalogType != null">
      and `catalog_type` = #{catalogType}
    </if>
      order by catalog_order asc
    <if test="pageStart != null and pageSize != null and pageStart gt -1">
      limit ${pageStart}, ${pageSize}
    </if>
  </select>

  <select id="selectTotalCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(1) from hb_assets_catalog where `status` != -1
    <if test="keywords != null">
      and (`catalog_name` like #{keywords} or `catalog_code` like #{keywords} or `desc` like #{keywords})
    </if>
    <if test="catalogParentId != null">
      and `catalog_parent_id` = #{catalogParentId}
    </if>
    <if test="catalogType != null">
      and `catalog_type` = #{catalogType}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hb_assets_catalog
    where `id` = #{id,jdbcType=BIGINT} and `status` != -1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update hb_assets_catalog set `status` = -1 ,`updatetime` = NOW() where `id` = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.stackstech.honeybee.server.assets.entity.AssetsCatalogEntity" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
    insert into hb_assets_catalog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="isroot != null">
        `isroot`,
      </if>
      <if test="catalogName != null">
        `catalog_name`,
      </if>
      <if test="catalogCode != null">
        `catalog_code`,
      </if>
      <if test="catalogParentId != null">
        `catalog_parent_id`,
      </if>
      <if test="catalogType != null">
        `catalog_type`,
      </if>
      <if test="catalogOrder != null">
        `catalog_order`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="owner != null">
        `owner`,
      </if>
      <if test="updatetime != null">
        `updatetime`,
      </if>
      <if test="createtime != null">
        `createtime`,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="isroot != null">
        #{isroot,jdbcType=INTEGER},
      </if>
      <if test="catalogName != null">
        #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="catalogCode != null">
        #{catalogCode,jdbcType=VARCHAR},
      </if>
      <if test="catalogParentId != null">
        #{catalogParentId,jdbcType=BIGINT},
      </if>
      <if test="catalogType != null">
        #{catalogType,jdbcType=VARCHAR},
      </if>
      <if test="catalogOrder != null">
        #{catalogOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stackstech.honeybee.server.assets.entity.AssetsCatalogEntity">
    update hb_assets_catalog
    <set>
      <if test="isroot != null">
        `isroot` = #{isroot,jdbcType=INTEGER},
      </if>
      <if test="catalogName != null">
        `catalog_name` = #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="catalogCode != null">
        `catalog_code` = #{catalogCode,jdbcType=VARCHAR},
      </if>
      <if test="catalogParentId != null">
        `catalog_parent_id` = #{catalogParentId,jdbcType=BIGINT},
      </if>
      <if test="catalogType != null">
        `catalog_type` = #{catalogType,jdbcType=VARCHAR},
      </if>
      <if test="catalogOrder != null">
        `catalog_order` = #{catalogOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        `owner` = #{owner,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null">
        `updatetime` = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        `createtime` = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null">
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>