<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stackstech.dcp.server.auth.dao.AuthPermissionMapper">
    <!--资源表-->
    <resultMap id="ResourceResultMap" type="com.stackstech.dcp.server.auth.model.AuthResource">
        <result column="ID" property="id" jdbcType="NUMERIC"/>
        <result column="CODE" property="code" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="DESCR" property="descr" jdbcType="DECIMAL"/>
        <result column="PARENT_ID" property="parent_id" jdbcType="NUMERIC"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="CATEGORY_ID" property="category_id" jdbcType="NUMERIC"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="ATTR1" property="attr1" jdbcType="VARCHAR"/>
        <result column="ATTR2" property="attr2" jdbcType="VARCHAR"/>
        <result column="ATTR3" property="attr3" jdbcType="VARCHAR"/>
        <result column="ATTR4" property="attr4" jdbcType="VARCHAR"/>
        <result column="ATTR5" property="attr5" jdbcType="VARCHAR"/>
    </resultMap>
    <!--操作表-->
    <resultMap id="OperationResultMap" type="com.stackstech.dcp.server.auth.model.AuthOperation">
        <result column="ID" property="id" jdbcType="NUMERIC"/>
        <result column="CODE" property="code" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="DESCR" property="descr" jdbcType="VARCHAR"/>
        <result column="CATEGORY_ID" property="categoryId" jdbcType="NUMERIC"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_by" jdbcType="BIGINT" property="updateDate"/>
    </resultMap>
    <!--权限表-->
    <resultMap id="PermissionResultMap" type="com.stackstech.dcp.server.auth.model.AuthPermission">
        <result column="ROLE_ID" property="roleId" jdbcType="NUMERIC"/>
        <result column="OPERATION_ID" property="operationId" jdbcType="NUMERIC"/>
        <result column="RESOURCE_ID" property="resourceId" jdbcType="NUMERIC"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="crate_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
    </resultMap>
    <!-- 资源表字段 -->
    <sql id="Resource_Columns_rsrc">
        rsrc.ID, rsrc.CODE, rsrc.NAME, rsrc.DESCR, rsrc.PARENT_ID, rsrc.STATUS, rsrc.CATEGORY_ID,
        rsrc.CREATE_TIME, rsrc.UPDATE_TIME, rsrc.ATTR1, rsrc.ATTR2, rsrc.ATTR3, rsrc.ATTR4,
        rsrc.ATTR5,rsrc.create_time,rsrc.create_by,
        rsrc.update_time,rsrc.update_by
    </sql>
    <!-- 操作表字段 -->
    <sql id="Operation_Columns_op">
        op.ID, op.CODE, op.NAME, op.DESCR, op.CATEGORY_ID, op.CREATE_TIME, op.UPDATE_TIME
    </sql>
    <!-- 权限表字段 -->
    <sql id="Permission_Columns_pmsn">
        pmsn.ROLE_ID, pmsn.OPERATION_ID,
        pmsn.RESOURCE_ID,pmsn.create_time,pmsn.create_by,pmsn.update_time,pmsn.update_by
    </sql>

    <!--获取所有资源-->
    <select id="getResources" resultMap="ResourceResultMap">
        SELECT
        <include refid="Resource_Columns_rsrc"/>
        FROM dcp_auth_resource rsrc
    </select>

    <!--获取该资源的操作-->
    <select id="getOperations" resultMap="OperationResultMap"
            parameterType="com.stackstech.dcp.server.auth.model.AuthResource">
        SELECT
        <include refid="Operation_Columns_op"/>
        FROM dcp_auth_resource_operation op
        <where>
            <if test="category_id != null and category_id != ''">
                op.CATEGORY_ID = #{category_id,jdbcType=NUMERIC}
            </if>
        </where>
    </select>

    <!--批量插入权限-->
    <insert id="insertPermissionBatch" parameterType="java.util.List">
        insert into dcp_auth_permission (
        ROLE_ID, RESOURCE_ID, OPERATION_ID,create_time,create_by,update_time,update_by
        ) values
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.roleId,jdbcType=BIGINT}, #{item.resourceId,jdbcType=BIGINT}, #{item.operationId,jdbcType=BIGINT},
            #{item.createTime,jdbcType=TIMESTAMP}, #{item.createBy,jdbcType=BIGINT},
            #{item.updateTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <!--获取角色的权限-->
    <select id="getPermissions" resultMap="PermissionResultMap"
            parameterType="com.stackstech.dcp.server.auth.model.AuthRole">
        select
        <include refid="Permission_Columns_pmsn"/>
        from dcp_auth_permission pmsn
        <where>
            <if test="id != null and id != ''">
                pmsn.role_id = #{id,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <!--根据角色编号删除角色权限关系-->
    <delete id="deletePermissions" parameterType="com.stackstech.dcp.server.auth.model.AuthRole">
        delete from dcp_auth_permission where ROLE_ID = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 新增角色权限关系 -->
    <insert id="insert" parameterType="com.stackstech.dcp.server.auth.model.AuthPermission">
        insert into dcp_auth_permission (
        role_id, resource_id, operation_id,create_time,create_by
        ) values (
        #{roleId,jdbcType=BIGINT}, #{operationId,jdbcType=BIGINT}, #{create_time,jdbcType=TIMESTAMP},
        #{create_by,jdbcType=BIGINT}
        )
    </insert>

    <!--根据资源 ID 查询相对应的权限-->
    <select id="selectByResource" resultType="com.stackstech.dcp.server.auth.model.AuthPermission"
            parameterType="java.util.List">
        select
        role_id, resource_id, operation_id,create_time,create_by,update_time,update_by
        from dcp_auth_permission where resource_id in
        <foreach collection="list" index="index" item="permission" open="(" separator="," close=")">
            #{permission.resourceId}
        </foreach>
    </select>

    <!--通过资源 id 得到相应权限-->
    <select id="getPermissionsByResourceId" resultType="com.stackstech.dcp.server.auth.model.AuthPermission"
            parameterType="java.lang.Long">
        select
        role_id, resource_id, operation_id,create_time,create_by,update_time,update_by
        from dcp_auth_permission
        where resource_id = #{resourceId,jdbcType=NUMERIC}
    </select>


    <!-- 删除权限 -->
    <delete id="deletePermission">
        delete from dcp_auth_permission where resource_id = #{id}
    </delete>

    <!-- 批量删除权限 -->
    <delete id="deletePermissionList" parameterType="java.util.List">
        delete from dcp_auth_permission where resource_id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
