<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stackstech.dcp.server.auth.dao.AuthOrgUserMapper">
    <resultMap id="BaseResultMap" type="com.stackstech.dcp.server.auth.model.AuthOrgUser">
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ORG_ID, USER_ID, CREATE_TIME
    </sql>

    <!--新增组织结构与用户关联-->
    <insert id="insert" parameterType="com.stackstech.dcp.server.auth.model.AuthOrgUser">
        insert into auth_org_user (
        <include refid="Base_Column_List"/>
        ) values (
        #{orgId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--通过用户 id 删除关联关系-->
    <delete id="deleteByUserId" parameterType="java.lang.Long">
        delete from auth_org_user
        where USER_ID = #{userId,jdbcType=DECIMAL}
    </delete>

    <!--通过组织结构 id 获取关联的用户-->
    <select id="selectByOrgId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from auth_org_user
        where ORG_ID = #{orgId,jdbcType=DECIMAL}
        order by CREATE_TIME DESC
    </select>

</mapper>
