<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stackstech.dcp.server.dataservice.dao.DataServiceMapper">

    <resultMap id="BaseResultMap" type="com.stackstech.dcp.server.dataservice.model.DataService">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="service_model_id" property="serviceModelId" jdbcType="VARCHAR"/>
        <result column="type_code" property="typeCode" jdbcType="VARCHAR"/>
        <result column="status_code" property="statusCode" jdbcType="VARCHAR"/>
        <result column="data_service_name" property="dataServiceName" jdbcType="VARCHAR"/>
        <result column="data_service_desc" property="dataServiceDesc" jdbcType="VARCHAR"/>
        <result column="operate_type" property="operateType" jdbcType="VARCHAR"/>
        <result column="expression" property="expression" jdbcType="VARCHAR"/>
        <result column="request_method" property="requestMethod" jdbcType="VARCHAR"/>
        <result column="body_pattern" property="bodyPattern" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="insert" parameterType="com.stackstech.dcp.server.dataservice.model.DataService">
        INSERT INTO dcp_data_service
        (id,
        service_model_id,
        type_code,
        status_code,
        data_service_name,
        data_service_desc,
        operate_type,
        expression,
        request_method,
        body_pattern,
        create_time,
        create_by,
        update_time,
        update_by)
        VALUES
        (#{id,jdbcType=VARCHAR},
        #{serviceModelId,jdbcType=VARCHAR},
        #{typeCode,jdbcType=VARCHAR},
        #{statusCode,jdbcType=VARCHAR},
        #{dataServiceName,jdbcType=VARCHAR},
        #{dataServiceDesc,jdbcType=VARCHAR},
        #{operateType,jdbcType=VARCHAR},
        #{expression,jdbcType=VARCHAR},
        #{requestMethod,jdbcType=VARCHAR},
        #{bodyPattern,jdbcType=VARCHAR},
        SYSDATE(),
        #{createBy,jdbcType=BIGINT},
        SYSDATE(),
        #{updateBy,jdbcType=BIGINT})
    </insert>

    <!--根据id编号删除数据服务-->
    <delete id="delete" parameterType="java.lang.String">
        update dcp_data_service
        set status_code = 'deleted'
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <select id="queryPrimaryKey" resultType="java.lang.String">
        select seq_nextval('dcp_data_service')
    </select>

    <!--编辑APP用户字段-->
    <update id="update" parameterType="com.stackstech.dcp.server.dataservice.model.DataService">
        update dcp_data_service
        <set>
            <if test="serviceModelId != null and serviceModelId !=''">
                service_model_id = #{serviceModelId,jdbcType=VARCHAR},
            </if>
            <if test="typeCode != null and typeCode != ''">
                type_code = #{typeCode,jdbcType=VARCHAR},
            </if>
            <if test="statusCode != null and statusCode != ''">
                status_code = #{statusCode,jdbcType=VARCHAR},
            </if>
            <if test="dataServiceName != null and dataServiceName !=''">
                data_service_name = #{dataServiceName,jdbcType=VARCHAR},
            </if>
            <if test="dataServiceDesc != null and dataServiceDesc != ''">
                data_service_desc = #{dataServiceDesc,jdbcType=VARCHAR},
            </if>
            <if test="operateType != null and operateType != ''">
                operate_type = #{operateType,jdbcType=VARCHAR},
            </if>
            <if test="expression != null and expression != ''">
                expression = #{expression,jdbcType=VARCHAR},
            </if>
            <if test="requestMethod != null and requestMethod != ''">
                request_method = #{requestMethod,jdbcType=VARCHAR},
            </if>
            <if test="bodyPattern != null and bodyPattern != ''">
                body_pattern = #{bodyPattern,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            update_time = SYSDATE()
        </set>
        where id = #{id,jdbcType=VARCHAR}
        and status_code != 'deleted'
    </update>

    <!--根据id查询所有数据服务-->
    <select id="queryByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from dcp_data_service
        where id = #{id,jdbcType=VARCHAR}
        and status_code != 'deleted'
    </select>

    <!--根据modelId查询所有数据服务-->
    <select id="queryByModelId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from dcp_data_service
        where service_model_id = #{serviceModelId,jdbcType=VARCHAR}
        and status_code != 'deleted'
    </select>

    <!--根据name查询所有数据服务-->
    <select id="queryByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from dcp_data_service
        <where>
            status_code != 'deleted '
            <if test="dataServiceName != null and dataServiceName != ''">
                and data_service_name = #{dataServiceName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--根据name查询所有数据服务-->
    <select id="query" resultMap="BaseResultMap" parameterType="java.util.List">
        select * from dcp_data_service
        where status_code = 'active'
        <if test="list != null and list.size > 0">
            and id not in
            <foreach collection="list" item="tag" open="(" separator="," close=")" index="index">
                #{tag,jdbcType=VARCHAR}
            </foreach>
        </if>
    </select>

    <!--根据条件查询所有数据服务信息-->
    <select id="queryAll" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        a.id,
        a.service_model_id,
        a.type_code,
        a.status_code,
        a.data_service_name,
        a.data_service_desc,
        a.operate_type,
        a.expression,
        a.request_method,
        a.body_pattern,
        a.create_time,
        a.create_by,
        a.update_time,
        a.update_by
        from dcp_data_service a
        <where>
            a.status_code != 'deleted'
            <if test="typeCode != null and typeCode != ''">
                and a.type_code = #{typeCode,jdbcType=VARCHAR}
            </if>
            <if test="dataServiceName != null and dataServiceName != ''">
                and a.data_service_name like CONCAT('%',#{dataServiceName,jdbcType=VARCHAR},'%')
            </if>
            <if test="statusCode != null and statusCode != ''">
                and a.status_code = #{statusCode,jdbcType=VARCHAR}
            </if>
        </where>
        order by a.update_time desc
    </select>


    <!--获取能力模型-->
    <select id="queryAllByQuery" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        a.id,
        a.service_model_id,
        a.type_code,
        a.status_code,
        a.data_service_name,
        a.data_service_desc,
        a.operate_type,
        a.expression,
        a.request_method,
        a.body_pattern,
        a.create_time,
        a.create_by,
        a.update_time,
        a.update_by
        from dcp_data_service a
        <foreach collection="roleCodes" item="role" index="index">
            <if test="role == 'data_app'">
                INNER JOIN dcp_app_ds dad
                ON a.id = dad.dataservice_id
                INNER JOIN dcp_app da
                ON dad.app_id = da.id
                INNER JOIN dcp_auth_user dau
                ON da.owner = dau.id
            </if>
        </foreach>
        <choose>
            <when test="typeCode == 'ability'">
                left join dcp_service_model b on a.service_model_id = b.id
                left join dcp_code c on b.topic_id = c.id
                left join dcp_code d on c.parent_code = d.code
            </when>
            <otherwise>
                left join dcp_service_model b on a.service_model_id = b.id
                left join dcp_data_assets_topic c on b.topic_id = c.id
                left join dcp_data_assets_area d on c.area_id = d.id
            </otherwise>
        </choose>

        <where>
            a.status_code != 'deleted'
            <if test="areaName != null and areaName !=''">
                and d.area_name like CONCAT('%',#{areaName,jdbcType=VARCHAR},'%')
            </if>
            <if test="topicName != null and topicName != ''">
                and c.topic_name like CONCAT('%',#{topicName,jdbcType=VARCHAR},'%')
            </if>
            <if test="modelName != null and modelName != ''">
                and b.model_name like CONCAT('%',#{modelName,jdbcType=VARCHAR},'%')
            </if>
            <if test="typeCode != null and typeCode != ''">
                and a.type_code = #{typeCode,jdbcType=VARCHAR}
            </if>
            <if test="dataServiceName != null and dataServiceName != ''">
                and a.data_service_name like CONCAT('%',#{dataServiceName,jdbcType=VARCHAR},'%')
            </if>
            <if test="dataServiceId != null and dataServiceId != ''">
                and a.id = #{dataServiceId,jdbcType=VARCHAR}
            </if>
            <if test="statusCode != null and statusCode != ''">
                and a.status_code = #{statusCode,jdbcType=VARCHAR}
            </if>

            <if test="queryString != null and queryString != ''">
                <choose>
                    <when test="typeCode == 'ability'">
                        and CONCAT(d.display_name,c.display_name,b.model_name,a.data_service_name)
                        like CONCAT('%',#{queryString,jdbcType=VARCHAR},'%')
                    </when>
                    <otherwise>
                        and CONCAT(d.area_name,c.topic_name,b.model_name,a.data_service_name) like
                        CONCAT('%',#{queryString,jdbcType=VARCHAR},'%')
                    </otherwise>
                </choose>
            </if>
            <if test="userId != null and userId != ''">
                <foreach collection="roleCodes" item="role" index="index">
                    <if test="role == 'data_app'">
                        and dau.id = #{userId,jdbcType=BIGINT}
                    </if>
                    <if test="role == 'data_engineer'">
                        and c.owner = #{userId,jdbcType=BIGINT}
                    </if>
                </foreach>

            </if>
        </where>
        order by a.update_time desc
    </select>

    <!--获取资产主题数量-->
    <select id="queryAssetTopicCount" resultType="java.util.Map">
        select d.area_name as areaName,count(b.topic_id) as areaCount
        from dcp_data_service a
        left join dcp_service_model b
        on a.service_model_id = b.id
        left join dcp_data_assets_topic c
        on c.id = b.topic_id
        left join dcp_data_assets_area d
        on d.id = c.area_id
        where a.status_code != 'deleted'
        and b.topic_id is not null
        and c.area_id is not null
        and b.topic_id like '%DMT_%'
        group by c.area_id
    </select>

    <!--获取能力服务主题数量-->
    <select id="queryAbilityTopicCount" resultType="java.util.Map">
        select d.display_name as areaName,count(b.topic_id) as areaCount
        from dcp_data_service a
        left join dcp_service_model b
        on a.service_model_id = b.id
        left join dcp_code c
        on c.id = b.topic_id
        left join dcp_code d
        on c.parent_code = d.code
        where a.status_code != 'deleted'
        and b.topic_id is not null
        and b.topic_id not like '%DMT_%'
        group by d.id
    </select>
</mapper>